/*
 * @Author: lifan
 * @Date: 2018-12-09 21:20:51
 * @Last Modified by: lifan
 * @Last Modified time: 2018-12-09 21:27:33
 */
@import './variable.scss';

body {
  margin: 0;
  padding: 0;
  background: $color-theme-background;
}
