/*
 * @Author: lifan
 * @Date: 2018-12-09 21:20:43
 * @Last Modified by: lifan
 * @Last Modified time: 2018-12-21 14:57:26
 */

/* 设计稿, 以iphone6为准 */
$design-width: 750;
$design-dpi: 2;

/* 颜色规范 */
$color-theme-background: #009688;
$color-theme: #efcc19;
$color-screen: #9ead86;
$color-block: #879372;
$color-block-highlight: #000;

/* 字体规范 */
$font-size-root: $design-width / 10;
