{
  "trailingComma": "es5",
  "printWidth": 100,
  "singleQuote": false,
  "endOfLine": "crlf",
  "semi": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
