@import "../../assets/scss/variable.scss";

.fillDefault {
  fill: $color-block;
}

.fillHighlight {
  fill: $color-block-highlight;
}

.strokeDefault {
  stroke: $color-block;
}

.strokeHighlight {
  stroke: $color-block-highlight;
}
