/*
 * @Author: lifan
 * @Date: 2018-12-19 21:10:55
 * @Last Modified by: lifan
 * @Last Modified time: 2018-12-20 20:48:28
 */
@import "../../assets/scss/variable.scss";
@import "../../assets/scss/func.scss";

.wrapper {
  padding: px2rem(10);
  width: 100%;
  border: px2rem(2) solid #453e36;

  .container {
    padding: px2rem(2) px2rem(4) ;
    width: px2rem(260);
    border: px2rem(4) solid #000000;
    font-size: 0;
  }

  .panl {
    width: 100%;
    font-size: 0;
  }
}
