/*
 * @Author: lifan
 * @Date: 2019-01-14 22:05:25
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-14 22:09:46
 */
@import "../../assets/scss/variable.scss";
@import "../../assets/scss/func.scss";

.next {
  width: 100%;
  p {
    margin: px2rem(10) 0 px2rem(6) 0;
    padding: 0;
    font-size: px2rem(24);
    text-indent: px2rem(10);
    transform: scale(0.9);
  }
  div {
    margin-top: px2rem(20);
    text-align: right;
    text-indent: px2rem(10);
  }
}
