/*
 * @Author: lifan
 * @Date: 2018-12-21 22:40:36
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-09 14:42:48
 */
@import "../../assets/scss/variable.scss";
@import "../../assets/scss/func.scss";

.keyboard {
  display: flex;
  align-items: center;
  width: 100%;

  .content {
    position: relative;
    width: 100%;
    min-height: px2rem(360);
    margin: px2rem(20) 0;
  }
}

.keyPause,
.keySound,
.keyReset {
  position: absolute;
  top: px2rem(0);
  left: px2rem(60);

  span:first-child {
    width: px2rem(60);
    height: px2rem(60);
    background: #2dc421;
  }

  span:last-child {
    min-width: px2rem(60);
    text-align: center;
  }
}

.keySound {
  top: 0;
  left: px2rem(160);
}

.keyReset {
  top: 0;
  left: px2rem(264);

  span:first-child {
    width: px2rem(60);
    height: px2rem(60);
    background: #dd1a1a;
  }
}

.keyDrop {
  position: absolute;
  top: px2rem(118);
  left: px2rem(96);

  span:first-child {
    width: px2rem(190);
    height: px2rem(190);
    background: #5a65f1;
  }

  span:last-child {
    min-width: px2rem(190);
    text-align: center;
  }
}

.keyRotate,
.keyLeft,
.keyRight,
.keyDown {
  position: absolute;
  top: 0;
  left: px2rem(472);

  span:first-child {
    width: px2rem(120);
    height: px2rem(120);
    background: #5a65f1;
  }

  span:last-child {
    min-width: px2rem(120);
    text-align: center;
  }
}

.keyLeft {
  top: px2rem(110);
  left: px2rem(365);
}

.keyRight {
  top: px2rem(110);
  left: px2rem(578);
}

.keyDown {
  top: px2rem(210);
  left: px2rem(472);
}

.keyDecorate {
  position: absolute;
  top: px2rem(126);
  left: px2rem(494);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: px2rem(76);
  height: px2rem(76);
  font-size: 0;

  .keyDecorateCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .keyDecorateItem {
    display: block;
    width: 0;
    height: 0;
    border-width: px2rem(8) px2rem(8) px2rem(16) px2rem(8);
    border-style: solid;
    border-color: transparent transparent #111;
  }
}
